<link rel='stylesheet' href='/house/css/style.css'>

<div>
	<center>
		<img id="house_image" width='400' height='600'>
		<br />
		<strong>
			<span class="text"></span>
	</center>
</div>

	<audio>
		<source />
	</audio>
